<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
<div class="container">

{% if user %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color: darkred;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p style="padding-top: 15px;">
        <a href="{{ logout_url }}" id="btn-login" class="btn btn-success">{{ _("Logout") }}</a>
    </p>
    {% if first_login == 'True' %}
         <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">{{ _("First login") }}</div>
                        </div>
                        <div class="panel-body" >
                            <form method="POST" id="signupform" class="form-horizontal" role="form" action="{{ url_for('index', lang_code=g.current_lang) }}">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>


                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">{{ _("Email") }}</label>
                                    <div class="col-md-9">
                                         <input id="login-username" name="email" class="form-control" type="text" readonly="readonly"
                                                value="{{ user.email }}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">{{ _("Password") }}</label>
                                    <div class="col-md-9">
                                        <input id="login-password" type="password" class="form-control" name="password"
                                       value="{{ request.form.password }}" placeholder="{{ _("Enter password") }}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">{{ _("Repeat password") }}</label>
                                    <div class="col-md-9">
                                        <input id="login-password" type="password" class="form-control" name="password_repeat"
                                       value="{{ request.form.password_repeat }}" placeholder="{{ _("Password repeat") }}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-md-3 control-label">{{ _("Keyword") }}</label>
                                    <div class="col-md-9">
                                        <input id="login-password" type="text" class="form-control" name="keyword"
                                       value="{{ request.form.keyword }}" placeholder="{{ _("Enter keyword") }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                         <input id="btn-signup" type="submit" class="btn btn-info" value={{ _("Save") }} />
                                    </div>
                                </div>



                            </form>
                            <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                             <a href="{{ url_for("index", lang_code="en") }}">En</a>
                                             <a href="{{ url_for("index", lang_code="ru") }}">РУС</a>
                                             <a href="{{ url_for("index", lang_code="uk_UA") }}">УКР</a>
                                        </div>
                                    </div>
                                </div>
                         </div>
                    </div>

         </div>
    {% endif %}
{% else %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color: darkred;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p style="padding-top: 15px;">
        <a href="{{ create_url }}" id="btn-login" class="btn btn-info">{{ _("Create") }}</a>
        <a href="{{ login_url }}" id="btn-signup" class="btn btn-success">{{ _("Login") }}</a>
    </p>
{% endif %}
</div>
</body>
</html>