<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">{{ _("register") }}</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="{{ url_login }}">{{ _("login") }}</a></div>
                        </div>
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form" action="{{ url_register }}">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>

                             {% for field in form %}
                               {% autoescape true %}
                                <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    {{ field(type="email", class="form-control", placeholder=_('Enter email')) }}
                                </div>
                                </div>
                                {% endautoescape %}
                             {% endfor %}

                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Google reCaptcha</label>
                                    <div class="col-md-9">
                                         {{ recaptcha }}
                                    </div>
                                </div>


                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                         <input id="btn-signup" type="submit" class="btn btn-info" value={{ _("register") }} />
                                    </div>
                                </div>



                            </form>
                         </div>
                    </div>




         </div>
    </div>
</body>
</html>