<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">{{ _("register") }}</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="{{ url_login }}">{{ _("login") }}</a></div>
                        </div>
                        <div class="panel-body" >
                            <form method="POST" id="signupform" class="form-horizontal" role="form" action="{{ url_register }}">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>

                               {% autoescape true %}
                                <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    {{ form.email(type="email", class="form-control", placeholder=_('Enter email'), required="True") }}
                                    {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <span style="color: darkred;">[{{ error }}]</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                </div>
                                {% endautoescape %}

                                <div class="form-group">
                                    <label for="Google reCaptcha" class="col-md-3 control-label">Google reCaptcha</label>
                                    <div class="col-md-9">
                                         {{ recaptcha }}
                                    </div>
                                </div>
                                <div class="form-group">
                                <label for="text" class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    {{ form.accept_tos(type="checkbox", value="y") }}<span style="padding-left: 10px;">{{ _("Confirming registration you agree to") }} <a href="{{ url_for('rules', lang_code=g.current_lang) }}">{{ _("RULES") }}</a> {{ _("of payment system.") }}</span>
                                </div>
                                </div>

                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                            {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li style="color: darkred;">{{ message }}</li>
                                {% endfor %}
                                </ul>
                              {% endif %}
                            {% endwith %}
                            </div>
                        </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                         <input id="btn-signup" type="submit" class="btn btn-info" value={{ _("register") }} />
                                    </div>
                                </div>



                            </form>
                            <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                             <a href="{{ url_for("register", lang_code="en") }}">En</a>
                                             <a href="{{ url_for("register", lang_code="ru") }}">РУС</a>
                                             <a href="{{ url_for("register", lang_code="uk_UA") }}">УКР</a>
                                        </div>
                                    </div>
                                </div>
                         </div>
                    </div>




         </div>
    </div>
</body>
</html>